.recent-transaction {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  gap: 30px;
  margin-top: 20px;
}
.recentTransaction-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.recentTransaction-head p {
  margin-top: 8px;
  font-weight: 500;
}
.search-transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.recent-entry {
  padding: 10px;
  overflow-y: scroll; /* Enable horizontal scrolling */
  /* border: 1px solid black; */
  height: 300px;
  scroll-behavior: smooth;
  scrollbar-width: 10px;
}
.recent-entry::-webkit-scrollbar {
  width: 5px; /* Width of the vertical scrollbar */
}

.recent-entry::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.recent-entry::-webkit-scrollbar-thumb {
  background: #dedbdb; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners htmlFor the scrollbar thumb */
}

.recent-entry::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
.vehicle {
  background-color: #d1b6e3; /* Set the background color */
  color: rgb(68, 14, 94); /* Change text color htmlFor better contrast */
  width: fit-content;
  padding: 2px 3px 2px 3px;
  font-weight: 500;
  text-transform: capitalize;
  /* margin-top: 10px; */
  font-size: 14px;
  border-radius: 15px;
}
.housing {
  background-color: #b4eecc; /* Set the background color */
  color: rgb(10, 102, 13); /* Change text color htmlFor better contrast */
  width: fit-content;
  padding: 2px 3px 2px 3px;
  font-weight: 500;
  text-transform: capitalize;
  /* margin-top: 10px; */
  font-size: 14px;
  border-radius: 15px;
}
.grocery {
  background-color: #ffcc80; /* Set the background color */
  color: rgb(102, 78, 0); /* Change text color htmlFor better contrast */
  width: fit-content;
  padding: 2px 3px 2px 3px;
  font-weight: 500;
  text-transform: capitalize;
  /* margin-top: 10px; */
  font-size: 14px;
  border-radius: 15px;
}

@media (max-width:768px)
{
  .search-transaction{
    display: none;
  }
  .recent-entry{
    height: 200px;
  }
}