.myTitle {
  font-weight: 500;
  font-size: 1.3vw;
  text-decoration: none;
  color: black;
}
.myTitle span {
  color: orangered;
}
#myButton {
  font-weight: 500;
  color: white;
}
.userName
{
  font-weight: 500;
  font-size: 1.2vw;
}
.userName span{
  color: orangered;
}