.navbar-container{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    background: white;
}
.navbar-logo{
    flex:auto;
}
.navbar-logo-span{
    color: orangered;
}
.logo-title{
    font-size: 1.5vw;
    font-weight: 500;
}

.new-transaction-btn{
    margin-top: 10px;
    padding: 7px;
    background-color: black;
    color: white;
    border: none;
}
.new-transaction-btn {
    display: flex;                /* Use flexbox layout */
    align-items: center;         /* Center items vertically */
}

.new-transaction-btn svg {      /* If using an SVG icon like FaPlus */
    margin-right: 5px;          /* Add some space between the icon and text */
}