@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app{
  background-color: aliceblue;
  height: 100%;
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
  font-family: outfit;
}
.inside-app {
 width: 80%;
 margin-left: 10%;
 margin-top: 50px;
 margin-bottom: 10px;
}
.user-creation {
  height: 93vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: white;
}
.user-creation form {
  width: 500px;
  box-shadow: 0px 0px 5px 0px rgb(210, 207, 207);
  padding: 20px;
}
@media(max-width:768px)
{
  .inside-app {
    width: 100%;
    margin-left: 0;
  }
  .user-creation form {
    margin-left: 10%;
    margin-right: 10%;
  }
}